* {
    margin: 0;
    padding: 0;
}

 body{
        font-family:’Poppins’,sans-serif;
     }

.cab-frete{

    background-color: #F8BE00;
    color: white;
    font-size: 7px
}

.cab-logo{
    background-color: #F8BE00;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.logo{
    width: 20%;
}

.itens1{
   display: inline-block;
   margin: 0 16px;
   padding: 24px 0;
   font-size: 16px;

}


.cab-promocao{
    background-color: #F8BE00;
    color: white;
    justify-content: space-around
}

.promocao{
    width: 100%;
    position: relative;
    left: 0px;
}

.categorias{

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
    text-align: center;

}

.acessorios{
    width: 90%;

    

}

.beleza{
    width: 90%;
    
    
}

.casa{
    width: 90%;
    
    
}

.cozinha{
    width: 90%;
   
}

.eletronico{
    width: 90%;
}

.maisvendidos{
    margin: 20px 5px;
}

.bannerfim{
    width: 100%;
    position: relative;
    left: 0px;
}

.rodape{
    background-color: #F8BE00;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0 24px;
    
}

.titulomenu{
    font-size: 20px
}
